@import "../colors.css";
@import "defaults.css";


window#waybar, tooltip {
	background-color: @amethyst-dark-glass;
	border: solid @diamond-neutral;
}

window#waybar {
	border-radius: 0;
	border-width: 0 0 1px 0;
}

tooltip {
	border-radius: 8px;
	border-width: 1px;
}

.module, tooltip label {
	margin: 4px;
	padding: 0 6px;
}

#wireplumber.muted,
#idle_inhibitor.deactivated,
#bluetooth.disabled,
#network.disabled {
	color: @diamond-dark;
	border-color: @diamond-dark;
}

#power-profiles-daemon.power-saver { color: @peridot-neutral; }
#power-profiles-daemon.balanced { color: @citrine-neutral; }
#power-profiles-daemon.performance { color: @ruby-neutral; }

#battery.p1 { color: @ruby-neutral; }
#battery.p2 { color: @spessartine-neutral }
#battery.p3 { color: @citrine-neutral; }
#battery.p4 { color: @emerald-neutral }
#battery.p5 { color: @peridot-neutral; }

#workspaces label { color: @tourmaline-neutral; }

