@import "../colors.css";

* {
	font-family: 'JetBrainsMono Nerd Font';
	font-size: 16px;
	background: none;
	border: none;
	border-radius: 6px;
	box-shadow: none;
	color: @diamond-light;
	transition: 250ms;
}

.control-center {
	background-color: @bg0-glass;
}

.notification {
	background-color: @bg0-glass;
}
