* {
  amethyst-dark-glass:     rgba ( 38,  32,  58,  75 % ); 
  diamond-dark-glass:      rgba ( 113, 112, 125, 75 % ); 
  ruby-dark-glass:         rgba ( 113, 32,  58,  75 % ); 
  rhodolite-dark-glass:    rgba ( 113, 32,  92,  75 % ); 
  spinel-dark-glass:       rgba ( 113, 32,  125, 75 % ); 
  tanzanite-dark-glass:    rgba ( 76,  32,  125, 75 % ); 
  sapphire-dark-glass:     rgba ( 38,  32,  125, 75 % ); 
  aquamarine-dark-glass:   rgba ( 38,  72,  125, 75 % ); 
  turquoise-dark-glass:    rgba ( 38,  112, 125, 75 % ); 
  tourmaline-dark-glass:   rgba ( 38,  112, 92,  75 % ); 
  peridot-dark-glass:      rgba ( 38,  112, 58,  75 % ); 
  emerald-dark-glass:      rgba ( 76,  112, 58,  75 % ); 
  citrine-dark-glass:      rgba ( 113, 112, 58,  75 % ); 
  spessartine-dark-glass:  rgba ( 113, 72,  58,  75 % ); 

  amethyst-neutral-glass:     rgba ( 75,  64,  116, 75 % ); 
  diamond-neutral-glass:      rgba ( 226, 223, 249, 75 % ); 
  ruby-neutral-glass:         rgba ( 226, 64,  116, 75 % ); 
  rhodolite-neutral-glass:    rgba ( 226, 64,  183, 75 % ); 
  spinel-neutral-glass:       rgba ( 226, 64,  249, 75 % ); 
  tanzanite-neutral-glass:    rgba ( 151, 64,  249, 75 % ); 
  sapphire-neutral-glass:     rgba ( 75,  64,  249, 75 % ); 
  aquamarine-neutral-glass:   rgba ( 75,  144, 249, 75 % ); 
  turquoise-neutral-glass:    rgba ( 75,  223, 249, 75 % ); 
  tourmaline-neutral-glass:   rgba ( 75,  223, 183, 75 % ); 
  peridot-neutral-glass:      rgba ( 75,  223, 116, 75 % ); 
  emerald-neutral-glass:      rgba ( 151, 223, 116, 75 % ); 
  citrine-neutral-glass:      rgba ( 226, 223, 116, 75 % ); 
  spessartine-neutral-glass:  rgba ( 226, 144, 116, 75 % ); 

  amethyst-light-glass:     rgba ( 113, 96,  174, 75 % ); 
  diamond-light-glass:      rgba ( 255, 255, 255, 75 % ); 
  ruby-light-glass:         rgba ( 255, 96,  174, 75 % ); 
  rhodolite-light-glass:    rgba ( 255, 96,  215, 75 % ); 
  spinel-light-glass:       rgba ( 255, 96,  255, 75 % ); 
  tanzanite-light-glass:    rgba ( 184, 96,  255, 75 % ); 
  sapphire-light-glass:     rgba ( 113, 96,  255, 75 % ); 
  aquamarine-light-glass:   rgba ( 113, 176, 255, 75 % ); 
  turquoise-light-glass:    rgba ( 113, 255, 255, 75 % ); 
  tourmaline-light-glass:   rgba ( 113, 255, 215, 75 % ); 
  peridot-light-glass:      rgba ( 113, 255, 174, 75 % ); 
  emerald-light-glass:      rgba ( 184, 255, 174, 75 % ); 
  citrine-light-glass:      rgba ( 255, 255, 174, 75 % ); 
  spessartine-light-glass:  rgba ( 255, 176, 174, 75 % ); 

  amethyst-dark:     rgba ( 38,  32,  58, 75 % );  
  diamond-dark:      rgba ( 113, 112, 125, 75 % ); 
  ruby-dark:         rgba ( 113, 32,  58, 75 % );  
  rhodolite-dark:    rgba ( 113, 32,  92, 75 % );  
  spinel-dark:       rgba ( 113, 32,  125, 75 % ); 
  tanzanite-dark:    rgba ( 76,  32,  125, 75 % ); 
  sapphire-dark:     rgba ( 38,  32,  125, 75 % ); 
  aquamarine-dark:   rgba ( 38,  72,  125, 75 % ); 
  turquoise-dark:    rgba ( 38,  112, 125, 75 % ); 
  tourmaline-dark:   rgba ( 38,  112, 92, 75 % );  
  peridot-dark:      rgba ( 38,  112, 58, 75 % );  
  emerald-dark:      rgba ( 76,  112, 58, 75 % );  
  citrine-dark:      rgba ( 113, 112, 58, 75 % );  
  spessartine-dark:  rgba ( 113, 72,  58, 75 % );  

  amethyst-neutral:     rgba ( 75,  64,  116, 75 % ); 
  diamond-neutral:      rgba ( 226, 223, 249, 75 % ); 
  ruby-neutral:         rgba ( 226, 64,  116, 75 % ); 
  rhodolite-neutral:    rgba ( 226, 64,  183, 75 % ); 
  spinel-neutral:       rgba ( 226, 64,  249, 75 % ); 
  tanzanite-neutral:    rgba ( 151, 64,  249, 75 % ); 
  sapphire-neutral:     rgba ( 75,  64,  249, 75 % ); 
  aquamarine-neutral:   rgba ( 75,  144, 249, 75 % ); 
  turquoise-neutral:    rgba ( 75,  223, 249, 75 % ); 
  tourmaline-neutral:   rgba ( 75,  223, 183, 75 % ); 
  peridot-neutral:      rgba ( 75,  223, 116, 75 % ); 
  emerald-neutral:      rgba ( 151, 223, 116, 75 % ); 
  citrine-neutral:      rgba ( 226, 223, 116, 75 % ); 
  spessartine-neutral:  rgba ( 226, 144, 116, 75 % ); 

  amethyst-light:     rgba ( 113, 96,  174, 75 % ); 
  diamond-light:      rgba ( 255, 255, 255, 75 % ); 
  ruby-light:         rgba ( 255, 96,  174, 75 % ); 
  rhodolite-light:    rgba ( 255, 96,  215, 75 % ); 
  spinel-light:       rgba ( 255, 96,  255, 75 % ); 
  tanzanite-light:    rgba ( 184, 96,  255, 75 % ); 
  sapphire-light:     rgba ( 113, 96,  255, 75 % ); 
  aquamarine-light:   rgba ( 113, 176, 255, 75 % ); 
  turquoise-light:    rgba ( 113, 255, 255, 75 % ); 
  tourmaline-light:   rgba ( 113, 255, 215, 75 % ); 
  peridot-light:      rgba ( 113, 255, 174, 75 % ); 
  emerald-light:      rgba ( 184, 255, 174, 75 % ); 
  citrine-light:      rgba ( 255, 255, 174, 75 % ); 
  spessartine-light:  rgba ( 255, 176, 174, 75 % ); 

  bg0-glass: rgba ( 0, 0, 0, 75 % );
  bg0: #000000;
  bg1-glass: rgba ( 64, 64, 64, 75 % );
  bg1: #404040;
  bg2-glass: rgba ( 128, 128, 128, 75 % );
  bg2: #808080;
  transparent: rgba ( 0, 0, 0, 0 % );
}
