* {
	bg0: #000000bf;

	fg0: #ffffff;
	fg1: #ff0000;
	fg2: #7160ae;

	accent: #7160ae40;

	background-color: transparent;
	text-color: @fg0;

	font: "JetBrainsMono Nerd Font 12";

	margin: 0;
	padding: 0;
	spacing: 0;
}

window {
	location: center;
	width: 540px;
	height: 270px;
	padding: 0;
	border-radius: 0;
	background-color: @bg0;
	transparency: "real";
}

mainbox {
	children: [ inputbar, listview ];
}

inputbar {
	children: [ prompt, entry ];
	padding: 16px;
}

prompt {
	enabled: false;
}

entry {
	placeholder: "type here...";
	placeholder-color: @fg2;
	padding: 0px;
	text-color: @fg0;
	font: "JetBrainsMono Nerd Font 12";
}

listview {
	columns: 1;
	lines: 4;
	layout: vertical;
	fixed-height: true;
}

element {
	padding: 4px 32px;
	border-radius: 0;
	text-color: @fg1;
}

element-icon {
	size: 28px;
	padding: 0 12px 0 0;
}

element-text {
	text-color: inherit;
}

element selected {
	background-color: @accent;
	text-color: @fg0;
}

element normal.normal {
	background-color: transparent;
	text-color: inherit;
}

element alternate.normal {
	background-color: transparent;
	text-color: inherit;
}

