@import "../colors.css";

* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 16px;
	color: #ffffff;
	border: none;
	border-radius: 0;
	min-height: 0;
	min-width: 0;
	background: none;
	padding: 0;
	margin: 0;
	text-shadow: none;
	box-shadow: none;
	-gtk-icon-shadow: none;
	-gtk-icon-effect: none;
}

window#waybar, tooltip { background-color: @bg0-glass; }

menu {
	background-color: @bg0-glass;
}

menuitem {
	margin: 0 4px;
}

.module, tooltip label {
	margin: 0 8px;
	padding: 0 4px;
	font-weight: bold;
}

#workspaces label { color: @tourmaline-light; }
#workspaces { border-color: @tourmaline-light; }

#power-profiles-daemon.power-saver { color: @peridot-light; border-color: @peridot-light; }
#power-profiles-daemon.balanced { color: @citrine-light; border-color: @citrine-light; }
#power-profiles-daemon.performance { color: @ruby-light; border-color: @ruby-light; }

#battery.p1 { color: @ruby-light; border-color: @ruby-light; }
#battery.p2 { color: @spessartine-light; border-color: @spessartine-light; }
#battery.p3 { color: @citrine-light; border-color: @citrine-light; }
#battery.p4 { color: @emerald-light; border-color: @emerald-light; }
#battery.p5 { color: @peridot-light; border-color: @peridot-light; }

#backlight.p1 { color: @sapphire-light; border-color: @sapphire-light; }
#backlight.p2 { color: @turquoise-light; border-color: @turquoise-light; }
#backlight.p3 { color: @peridot-light; border-color: @peridot-light; }
#backlight.p4 { color: @citrine-light; border-color: @citrine-light; }
#backlight.p5 { color: @ruby-light; border-color: @ruby-light; }

#wireplumber.p1 { color: @sapphire-light; border-color: @sapphire-light; }
#wireplumber.p2 { color: @turquoise-light; border-color: @turquoise-light; }
#wireplumber.p3 { color: @peridot-light; border-color: @peridot-light; }
#wireplumber.p4 { color: @citrine-light; border-color: @citrine-light; }
#wireplumber.p5 { color: @ruby-light; border-color: @ruby-light; }

#bluetooth { color: @sapphire-light; border-color: @sapphire-light; }
#network { color: @spinel-light; border-color: @spinel-light; }

#clock { color: @spessartine-light; border-color: @spessartine-light; }

#custom-notifications { color: @tanzanite-light; border-color: @tanzanite-light; }

#idle_inhibitor.activated { color: @rhodolite-light; border-color: @rhodolite-light; }

#wireplumber.muted,
#idle_inhibitor.deactivated,
#bluetooth.disabled,
#network.disabled { color: @diamond-dark; border-color: @diamond-dark; }
