@import "../colors.css";
@import "defaults.css";

.module, tooltip label {
	background-color: @bg0-glass;
	margin: 8px 4px;
	padding: 0 16px;
	border: 4px solid;
	font-weight: bold;
	box-shadow: 2px 2px 2px 2px @bg1-glass;
}

tooltip label { padding-top: 2px; padding-bottom: 2px; border-color: @amethyst-light; }

#workspaces { margin-left: 8px; }
#battery { margin-right: 8px; }

#workspaces label { color: @tourmaline-light; }
#workspaces { border-color: @tourmaline-light; }

#power-profiles-daemon.power-saver { color: @peridot-light; border-color: @peridot-light; }
#power-profiles-daemon.balanced { color: @citrine-light; border-color: @citrine-light; }
#power-profiles-daemon.performance { color: @ruby-light; border-color: @ruby-light; }


#battery.p1 { color: @ruby-light; border-color: @ruby-light; }
#battery.p2 { color: @spessartine-light; border-color: @spessartine-light; }
#battery.p3 { color: @citrine-light; border-color: @citrine-light; }
#battery.p4 { color: @emerald-light; border-color: @emerald-light; }
#battery.p5 { color: @peridot-light; border-color: @peridot-light; }

#backlight.p1 { color: @sapphire-light; border-color: @sapphire-light; }
#backlight.p2 { color: @turquoise-light; border-color: @turquoise-light; }
#backlight.p3 { color: @peridot-light; border-color: @peridot-light; }
#backlight.p4 { color: @citrine-light; border-color: @citrine-light; }
#backlight.p5 { color: @ruby-light; border-color: @ruby-light; }

#wireplumber.p1 { color: @sapphire-light; border-color: @sapphire-light; }
#wireplumber.p2 { color: @turquoise-light; border-color: @turquoise-light; }
#wireplumber.p3 { color: @peridot-light; border-color: @peridot-light; }
#wireplumber.p4 { color: @citrine-light; border-color: @citrine-light; }
#wireplumber.p5 { color: @ruby-light; border-color: @ruby-light; }

#bluetooth { color: @sapphire-light; border-color: @sapphire-light; }
#network { color: @spinel-light; border-color: @spinel-light; }

#clock { color: @spessartine-light; border-color: @spessartine-light; }

#custom-notifications { color: @tanzanite-light; border-color: @tanzanite-light; }

#idle_inhibitor.activated { color: @rhodolite-light; border-color: @rhodolite-light; }

#temperature { color: @turquoise-neutral; border-color: @turquoise-neutral; }
#memory { color: @spinel-neutral; border-color: @spinel-neutral; }
#cpu { color: @citrine-neutral; border-color: @citrine-neutral; }

#wireplumber.muted,
#idle_inhibitor.deactivated,
#bluetooth.disabled,
#network.disabled { color: @diamond-dark; border-color: @diamond-dark; }
