@import "../colors.css";

* {
	font-family: "JetBrainsMono Nerd Font Propo";
	font-size: 16px;
	color: #ffffff;
	border: none;
	border-radius: 6px;
	min-height: 0;
	min-width: 0;
	background: none;
	padding: 0;
	margin: 0;
	text-shadow: none;
	box-shadow: none;
	transition: 250ms;
	-gtk-icon-shadow: none;
	-gtk-icon-effect: none;
}

window#waybar {
	background-color: @bg0-glass;
	border-radius: 0;
}

menu, tooltip {
	background-color: @bg0-glass;
	font-family: "JetBrainsMono Nerd Font";
}

menuitem {
	margin: 0 4px;
}

#wireplumber.muted,
#idle_inhibitor.deactivated,
#bluetooth.disabled,
#network.disabled { color: @diamond-dark; }

#power-profiles-daemon.power-saver { color: @peridot-light; }
#power-profiles-daemon.balanced { color: @citrine-light; }
#power-profiles-daemon.performance { color: @ruby-light; }

#workspaces label { color: @tourmaline-light; }
