@import "colors.css";

* {
  font-family: 'JetBrainsMono Nerd Font';
  background: none;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: @spessartine-light;
  transition: 500ms;
}

.control-center {
  background-color: @spessartine-dark;
  border: solid 2px @spessartine-neutral;
}

.notification {
  background-color: @spessartine-dark;
  border: 2px solid @spessartine-neutral;
}

.notification:hover {
  border-color: @spessartine-light;
}
