@import "colors.css";

* {
  font-family: 'JetBrainsMono Nerd Font';
  background: none;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  color: @tanzanite-light;
  transition: 250ms;
}

.control-center {
  background-color: @amethyst-dark;
  border: solid 4px @tanzanite-neutral;
}

.notification {
  background-color: @amethyst-dark;
  border: 4px solid @tanzanite-neutral;
}
