configuration {
	font: "JetBrainsMono Nerd Font 9";
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}
//@theme "theme"


@theme "/usr/share/rofi/themes/Monokai.rasi"
