@import "colors"
window {
    background-color: @bg0;
    border:           10;
    padding:          5;
}

mainbox {
    border:  0;
    padding: 0;
}
message {
    border:       0px 0px 0px ;
    border-color: rgba ( 0, 0, 0, 0 % );
    padding:      1px ;
}
textbox {
    text-color: @diamond-light;
}
listview {
    fixed-height: 0;
    border:       0px 0px 0px ;
    border-color: @bg0;
    spacing:      2px ;
    scrollbar:    false;
    padding:      2px 0px 0px ;
}
element {
    border:  0;
    padding: 1px ;
}
element-text {
    background-color: @bg0;
    text-color:       @diamond-light;
}
element.normal.normal {
    background-color: @bg0;
    text-color:       @diamond-light;
}
element.normal.urgent {
    background-color: @bg0;
    text-color:       @diamond-light;
}
element.normal.active {
    background-color: @bg1;
    text-color:       @diamond-light;
}
element.selected.normal {
    background-color: @bg1;
    text-color:       @diamond-light;
}
element.selected.urgent {
    background-color: @bg0;
    text-color:       @diamond-light;
}
element.selected.active {
    background-color: @bg0;
    text-color:       @diamond-light;
}
element.alternate.normal {
    background-color: @bg0;
    text-color:       @diamond-light;
}
element.alternate.urgent {
    background-color: @bg0;
    text-color:       @diamond-light;
}
element.alternate.active {
    background-color: @bg0;
    text-color:       @diamond-light;
}
scrollbar {
    width:        4px ;
    border:       0;
    handle-width: 8px ;
    padding:      0;
}
mode-switcher {
    border:       2px 0px 0px ;
    border-color: @diamond-light;
}
button.selected {
    background-color: @bg0;
    text-color:       @diamond-light;
}
inputbar {
    spacing:    0;
    text-color: @diamond-light;
    padding:    1px ;
}
case-indicator {
    spacing:    0;
    text-color: @diamond-light;
}
entry {
    spacing:    0;
    text-color: @diamond-light;
}
prompt {
    spacing:    0;
    text-color: @diamond-light;
}
inputbar {
    children:   [ prompt,textbox-prompt-colon,entry,case-indicator ];
}
textbox-prompt-colon {
    expand:     false;
    str:        ":";
    margin:     0px 0.3em 0em 0em ;
    text-color: @diamond-light;
}
