@import "colors.css";

* {
  color: @light-bright;
  font-family: "DeJaVuSansM Nerd Font Mono", "Symbols Nerd Font Regular";
  font-size: 12pt;
  border: none;
  border-radius: 0;
  transition: none;
  min-height: 0;
  min-width: 0;
  background: none;
  padding: 0;
  margin: 0;
  text-shadow: none;
  box-shadow: none;
  transition: none;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
}

.modules-left, 
.modules-center,
.modules-right {
  background-color: @dark-dim;
  padding: 0 8px 0 8px;
  border-color: @dark-bright;
  border-style: solid;
  border-width: 4px;
  border-top: none;
}

.modules-left {
  border-left: none;
  border-radius: 0 0 16px 0;
}

.modules-center {
  border-radius: 0 0 16px 16px;
}

.modules-right {
  border-right: none;
  border-radius: 0 0 0 16px;
}

#workspaces button label,
#backlight,
#wireplumber,
#custom-notifications,
#clock,
#bluetooth,
#network,
#temperature,
#cpu,
#memory {
  margin: 0 4px 0 4px;
  color: @yellow-bright;
}

/*#workspaces button label {
  color: @cyan-bright;
}

#custom-notifications,
#backlight,
#wireplumber,
#clock,
#bluetooth,
#network {
  color: @magenta-bright;
}


#temperature,
#cpu,
#memory {
  color: @yellow-bright;
}
*/
