@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
  border: none;
  border-radius: 4px;
  min-height: 0;
  min-width: 0;
  background: none;
  padding: 0;
  margin: 0;
  text-shadow: none;
  box-shadow: none;
  transition: 250ms;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
}

#workspaces {
  border: none;
  background: none;
}

tooltip label {
  padding: 2px;
  color: @tourmaline-neutral;
  background-color: @amethyst-dark-glass;
  border: solid 2px @tourmaline-neutral;
}

.module, #workspaces button {
  padding: 0 2px;
  border: solid 2px @amethyst-neutral;
  color: @diamond-light;
  background-color: @amethyst-dark;
}

#workspaces button {
  margin: 0 2px;
}

#workspaces button.active {
  background-color: @tourmaline-neutral;
  border-color: @tourmaline-neutral;
}

#clock {
  color: @ruby-light;
  border-color: @ruby-neutral;
}

#bluetooth {
  color: @rhodolite-light;
  border-color: @rhodolite-neutral;
}

#network {
  color: @spinel-light;
  border-color: @spinel-neutral;
}

#backlight {
  color: @tanzanite-light;
  border-color: @tanzanite-neutral;
}

#wireplumber {
  color: @sapphire-light;
  border-color: @sapphire-neutral;
}

#temperature {
  color: @tourmaline-light;
  border-color: @tourmaline-neutral;
}

#memory {
  color: @peridot-light;
  border-color: @peridot-neutral;
}

#cpu {
  color: @emerald-light;
  border-color: @emerald-neutral;
}

#battery {
  color: @citrine-light;
  border-color: @citrine-neutral;
}

#custom-notifications {
  color: @spessartine-light;
  border-color: @spessartine-neutral;
}

#clock:hover {
  border-color: @ruby-light;
  background-color: @ruby-dark;
}

#bluetooth:hover {
  border-color: @rhodolite-light;
  background-color: @rhodolite-dark;
}

#network:hover {
  border-color: @spinel-light;
  background-color: @spinel-dark;
}

#backlight:hover {
  border-color: @tanzanite-light;
  background-color: @tanzanite-dark;
}

#wireplumber:hover {
  border-color: @sapphire-light;
  background-color: @sapphire-dark;
}

#temperature:hover {
  border-color: @tourmaline-light;
  background-color: @tourmaline-dark;
}

#memory:hover {
  border-color: @peridot-light;
  background-color: @peridot-dark;
}

#cpu:hover {
  border-color: @emerald-light;
  background-color: @emerald-dark;
}

#battery:hover {
  border-color: @citrine-light;
  background-color: @citrine-dark;
}

#custom-notifications:hover {
  border-color: @spessartine-light;
  background-color: @spessartine-dark;
}

#mpris.paused, 
#bluetooth.off, 
#bluetooth.disabled, 
#network.disabled,
#wireplumber.muted {
  color: @diamond-dark;
}
